*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

:root{

--primary:#6D28D9;
--secondary:#8B5CF6;
--orange:#F97316;
--green:#16A34A;
--dark:#111827;
--gray:#6B7280;
--white:#ffffff;
--bg:#F8FAFC;

}

body{

background:linear-gradient(180deg,#ffffff,#f4f2ff);

color:var(--dark);

overflow-x:hidden;

}

.header{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,.75);

backdrop-filter:blur(18px);

box-shadow:0 10px 35px rgba(0,0,0,.08);

z-index:999;

}

.logo h2{

font-size:32px;

color:var(--primary);

font-weight:800;

}

.logo p{

font-size:13px;

color:var(--gray);

margin-top:4px;

}

.headerBtn{

background:linear-gradient(135deg,var(--primary),var(--secondary));

color:#fff;

padding:14px 30px;

border-radius:14px;

text-decoration:none;

font-weight:700;

transition:.35s;

box-shadow:0 15px 35px rgba(109,40,217,.35);

}

.headerBtn:hover{

transform:translateY(-4px);

}
